/** CSS from banner text - import Montserrat from Google Fonts
TODO - figure out how to use this font throughout the whole page */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.banner-text {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: bold;
}
